.Layout-Container {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
}

.Layout-Container h1 {
    text-align: center;
    transform: translate(0%, -55%);
    font-family: Helvetica, Arial, sans-serif;
    /* color: rgb(241, 126, 241); */
    color: rgb(238, 118, 118);
    width: 100%;
    font-size: 40px;
    border-bottom: 1px solid #dedede;
    
}

@media (max-width: 700px) {
    .Layout-Container {
        position: absolute;
        margin-bottom: 800px;
        color: black;
    }
}