

.Date {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -80%);
}

.Date-DatePicker{
    border: none;
    outline: none;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    /* background-color: rgb(20,20,20,0.2); */
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    box-shadow: 1 2px 3px rgba(0,0,0,0.02);
    border-radius: 5px;
}


.Meal-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}


/* Mobile will put everything under */
@media (max-width: 700px) {
    .Meal-Container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    .Date {
        transform: none;
    }

    .Date-DatePicker {
        transform: translate(-50%, -60%);
        border-style: dashed;
        border-width: 1px;
    }

    .Date-Popper {
        right: 9vh;
    }
}